@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    user-select: none;
    
}
nav{
    background-color: rgba(239, 237, 233, 0.839);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 8vh;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f4f4f4;
    color: black;
    border-bottom: 2px solid black;
}
nav li:first-child{
    margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 30px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: rgba(245, 222, 179, 0);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    z-index: 1000;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.showOnMobile{
    display: none;
}
.menuButton{
    display: none;
}

section{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100vh;
    background-color:  #4502D2;
}
section div{
    width: 30%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .showOnMobile{
        display: block;
        margin-right: auto;
        margin-left: -80vw;
    }
    #logo{
        margin-top: -12vh;
        margin-left: 10px;
        scale: 0.2;
    }
    .menuButton{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
    #logo{
        scale: 0.15;
    }
    .menuButton{
        display: block;
    }
}